/*
  Created by Erik Brehl
*/


.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    background-color: #fcb75c;
  }


  .navigation-menu ul {
    display: flex;
    padding: 0;
  }

  .navigation-menu li {
    list-style-type: none;
    margin: 0 20px 0 0;
  }

  .navigation-menu .site {
   padding-top: 10px;
  }

  .navigation-menu .searchbar {
    margin-top: 5px;
   }

  .navigation-menu li:first-child {
    margin-left: 30px;
  }

  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  
  .site {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin: 5px 0px 0px 400px;
  }
  
  .searchbar {
    margin: 0px 0px 0px 500px;
    width: 180px;
    height: 5dvh;
    border-radius: 30px;
    border-width: 3px;
    text-align: left;
    padding-left: 10px;
  }

  li {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    background-color: white;
  
  }

  li:hover {
    background-color:#3caf8f;
  }