/*
  Created by Erik Brehl
*/




.sidebar{
    background-color: #3caf8f;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    z-index: -1;
    width: 80px;
}

.sidebar li{

  
    color: black;
    
    text-align: center;
    
    display: inline-block;
    border-radius:50%;

    padding: 0.5em 0.6em;
    margin:0 15px 0px 15px;
    background-color: white;

}

